scipy==1.2.0
keras
boto
boto3
Jinja2
openpyxl
shapely
imutils
matplotlib
simplejson
sqlalchemy
mysqlclient
mysql-connector
scikit-image
requests_toolbelt
schedule
pyTelegramBotAPI
json_minify
shapely
flask
getmac
